body{
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	color: #33adff;
	background-color: black;
}
h1{
	font-size: 30px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: black;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #33adff;
}

.active {
    background-color: #001f33;
}
