.main{
	font-family: 'Exo', sans-serif;
	font-size: 30px;
}

#navbar{
	font-family: 'Yeseva One', cursive;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;

}

li.nav {
    float: left;
}

li a.nav {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#pg1{
	height: 700px;
	background-color: #00264d;
	color: white
	
}

h2{
	text-indent: 50px;
}

img{
	float: right;
	width: 370px;
	height: auto;
}


#pg2{
	height: 700px;
	text-align: center;
	background-color: white;
	color: #00264d;
}

#pg3{
	height: 700px;
	background-color: #00264d;
	color: white
}


