body{
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	color: #33adff;
	background-color: black;
	width: 800px;
    margin: 0 auto;
	text-align: center;
}

/*Nav bar*/
#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: black;
	text-align:center !important;
}

#nav li {
	float:none !important; 
	display:inline !important;
}
#nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav li a:hover {
    background-color: #33adff;
}

#nav .active {
    background-color: #001f33;
}

#header{
	text-align:center !important;
	font-family: 'Rock Salt', cursive;
	font-size: 100px !important;
}

h2{
	font-family: 'Rock Salt', cursive;
}

h1{
	font-size: 50px !important;
}

#footer{
	font-size: 10px;
}