body{
	background-image: url("https://images.unsplash.com/photo-1462750230268-f97ef3e635ee?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=42152c5d45898dda2df44d66032c1caf"); /*I was going to go for having a bunch of different backgrounds but this is good*/
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	font-family: 'Architects Daughter', cursive;
	text-align: center;
}

h1{
	font-family: 'Rock Salt', cursive;
	font-size: 40px;
}

h3{
	font-family: 'Rock Salt', cursive;
	font-size: 20px;
}

td{
	padding: 5px;
    text-align: center;	
	border-left: 2px solid #fff;
}

table { 
	border: none; 
	border-collapse: collapse; 
	font-size: 20px
}

img {
    float: left;
	max-height: 500px;
	max-width: 50%;
    margin: 0 0 10px 10px;
}

ul {
    display: inline-block;
	list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-family: 'Architects Daughter', cursive;
}

li a:hover {
    background-color: ##33adff;
}

a:link {
    text-decoration: none;
	color: #cce6ff;
}

a:visited {
    text-decoration: none;
	color:  #e6f5ff;
}

a:hover {
    text-decoration: underline;
	color: white
}

a:active {
    text-decoration: underline;
}

#footer {
	position: relative;
	bottom: 0;
	font-size: 12px;
}