body{
	font-family: 'ABeeZee', sans-serif;
	text-align: center;
	font-size: 19px;
	color: white;
	display: inline;
	min-height: 100%;	
	background-size: cover;
    background: blue; /* For browsers that do not support gradients */
    background: linear-gradient(#3399ff, #00264d, black); /* Standard syntax (must be last) */
}

.Hello{
	font-family: 'ABeeZee', sans-serif;
	height: 1000px;
	font-size: 50px !important;
	padding: 4cm;

}

.I ul{
	height: 1000px;
	text-align: center;
	font-size: 90px;
	padding: 3cm;
}

.portfolio{
	height: 1000px;
}

.contact{
	height: 1000px;
	padding: 2cm;
}

.elsewhere{
	height: 1000px;
	padding: 2cm;
}
h2{
	font-family: 'Flamenco', cursive;
	font-size: 50px;
}

ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
	text-decoration: none;
}

a:hover {
	color: black;
}

a:visited{
	color: #cceeff;
}

#nav li {
	display: inline;
	color: white;
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	position: fixed !important;
	top: 0px;
	left: 0;
	z-index: 9999;
}

#nav li a{
	color: white;
	text-decoration: none;
}

#nav li a:hover {
	color: black;
}

input[type=submit], input[type=reset] {
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

input {
	height: 50px;
	margin-top: 2px;
	padding: 0 0 0 8px;
	border-radius: 20px;
	}
	
.scrollToTop{
	padding:10px; 
	position:fixed;
	top:75px;
	right:40px;
	display:none;
}
