body{
	font-family: 'ABeeZee', sans-serif;
	text-align: center;
	font-size: 19px;
}

.Hello{
	font-family: 'ABeeZee', sans-serif;
	height: 1000px;
	font-size: 50px !important;
}

.I ul{
	height: 1000px;
	text-align: center;
	font-size: 60px;
}

.portfolio{
	height: 1000px;
}

.contact{
	height: 1000px;
}



h2{
	font-family: 'Flamenco', cursive;
}

ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav li{
	display: inline;
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}